<table mat-table [dataSource]="cities" class="mat-elevation-z8" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element;let i = index"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element;let i = index"> {{element.name}} </td>
  </ng-container>

    
  <!-- Getdata Column -->
  <ng-container matColumnDef="getData">
      <th mat-header-cell *matHeaderCellDef> getData </th>
      <td mat-cell *matCellDef="let element;let i = index" >
        <button mat-raised-button
        color = "primary">
        getData
        </button>
    </ng-container>

    <!-- temperature Column -->
  <ng-container matColumnDef="temperature">
    <th mat-header-cell *matHeaderCellDef> temperature </th>
    <td mat-cell *matCellDef="let element;let i = index"> {{element.temperature}} </td>
  </ng-container>

  <!-- humidity Column -->
  <ng-container matColumnDef="humidity">
    <th mat-header-cell *matHeaderCellDef> humidity </th>
    <td mat-cell *matCellDef="let element;let i = index"> {{element.humidity}} </td>
  </ng-container>

    <!-- predict Column -->
    <ng-container matColumnDef="predict">
      <th mat-header-cell *matHeaderCellDef>predict</th>
      <td mat-cell *matCellDef="let element;let i = index" >
        <button mat-raised-button
        color = "primary"
        (click)="predict(i)"
        *ngIf="!element.result">
        predict
        </button>
        <button mat-raised-button
        color = "warm"
        *ngIf="element.result">
        Save
        </button>
        <button mat-raised-button
        color = "warm">
        get new data
        </button>

    </ng-container> 
       
  <!-- result Column -->
  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> result </th>
    <td mat-cell *matCellDef="let element;let i = index"> {{element.result}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>